page {
  background-color: #fff;
}
.user-profile {
  display: flex;
  padding: 25rpx 36rpx 0;
}
.user-profile__avatar {
  width: 90rpx;
  height: 90rpx;
}
.user-profile__right {
  margin-left: 18rpx;
}
.user-profile__header {
  display: flex;
  align-items: center;
  margin-bottom: 5rpx;
}
.user-profile__name {
  font-size: 36rpx;
  color: #333;
  margin-right: 6rpx;
  line-height: 50rpx;
}
.user-profile__member {
  background: #eee;
  border-radius: 10000rpx;
  font-size: 20rpx;
  color: #333;
  padding: 6rpx 8rpx;
}
.user-profile__credit {
  font-size: 26rpx;
  line-height: 37rpx;
  color: #333;
}
.entries {
  display: flex;
  width: 100%;
  box-sizing: content-box;
  padding: 39rpx 0;
}
.entries__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 170rpx;
}
.entries__cover {
  flex-shrink: 0;
  width: 100rpx;
  height: 100rpx;
}
.entries__title {
  font-size: 24rpx;
  color: #333;
  margin-top: 9rpx;
}
.divider {
  height: 1rpx;
  background-color: #eee;
}
.divider.--middle {
  width: 677rpx;
  margin: 0 auto;
}
.divider.--right {
  width: 713rpx;
  float: right;
}
.divider.--right::after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.member-center-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28rpx;
  color: #009d9a;
  line-height: 26px;
  padding: 30rpx 0;
}
.member-center-nav image {
  width: 10rpx;
  height: 18rpx;
  margin-left: 9rpx;
}
.list-item {
  font-size: 32rpx;
  color: #333;
  line-height: 130rpx;
}
.list-item .am-list-content,
.list-item .am-list-extra {
  line-height: inherit;
  padding: 0;
}
.list-item .am-list-thumb {
  width: 45rpx;
  height: 45rpx;
}
