.location {
  background: #fff;
  font-size: 28rpx;
  padding: 24rpx 24rpx 24rpx 28rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 82rpx;
}
.location-description {
  display: flex;
  align-items: center;
  line-height: 22rpx;
}
.location-description__logo {
  width: 32rpx;
  height: 32rpx;
  margin-right: 6rpx;
}
.location-description__title {
  font-weight: bold;
  padding-right: 10rpx;
}
.location-action {
  display: flex;
  align-items: center;
  font-size: 26rpx;
  color: #9a9a9a;
}
.location-action image {
  margin-left: 20rpx;
  width: 13rpx;
  height: 24rpx;
}
